.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    max-width: 90%;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 90%;
}

.form-title{
margin: 0;
margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.form-row input {
    margin-left: 5px;
    
    border: none;
    padding: 2%;
    width: 100%;
    /* max-width: 70%; */
}

.form-row label {
    flex-shrink: 0;
    min-width: 30%;
}

.form-btn {
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 4%;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.form-btn:hover {
    cursor: pointer;
}

.products-link:hover {
    color: var(--main-color);
    cursor: pointer;
}

