

.title {
    font-size: 1.5rem;
}

.create-product-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    border: 1px solid var(--main-color);
    padding: 5%;
    justify-self: center;
    margin-bottom: 50px;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-row input {
    margin-left: 5px;
    /* border: none; */

}

.form-field {
    width: 50%;
    border: 1px solid var(--main-color);
    padding: 2%;
}

.form-field option {
    width: 50%;
    border: 1px solid var(--main-color);
    padding: 2%;
}

.form-row:last-child {
    display: flex;
    justify-content: center;
}

.form-field:first-child {
    width: auto;
}

.save-product-btn {
    padding: 2%;
    background-color: white;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
}

.save-product-btn:hover {
    background-color: var(--main-color);
    color: white;
}