.user-btn {
    background-color: var(--second-bg-color);
    border: none;
    padding: 2%;
}

.user-btn:hover {
    background-color: var(--main-color);
    color: white;
}

.user-btn-container {
    display: flex;
    justify-content: flex-end;
}

.register-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 5%;
    border: 1px solid var(--main-color);

}

.form-item, .register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
}

.form-item input {
    margin-left: 5px;

    border: 1px solid var(--main-color);
    padding: 2%;
    width: 50%;
}

.form-container{
    display: flex;
    justify-content: center;
}

.register{
    margin: 0;
    margin-top: 20px;
    background-color: var(--second-bg-color);
    border: none;
    padding: 2%;
}